<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.example.usStore.dao.mybatis.mapper.AttendanceMapper">
  <cache />

	<insert id="insertAttend">
		INSERT INTO ATTENDANCE
		(ATTENDID, USERID, ATTENDDATE)
		VALUES(ATTENDID_seq.nextval , #{userId}, TO_CHAR(SYSDATE,'yyyy-MM-dd')) 
	</insert>
	
	<select id="getCalendarList" resultType="Attendance">
		SELECT T.ATTENDID, T.USERID, T.ATTENDDATE
		FROM ATTENDANCE T, ACCOUNT A
		WHERE T.USERID = A.USERID AND T.USERID = #{userId}
	</select>
	
	<select id="getCalendarByDate">
		SELECT ATTENDDATE
		FROM ATTENDANCE
		WHERE USERID = #{userId}
	</select>
	 
  </mapper>