<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.example.usStore.dao.mybatis.mapper.UniversityMapper">
  <cache />

  <select id="getUnivByName" resultType="University">
    SELECT univName, univLink, univAddr, region
    FROM university
    WHERE univName = #{univName}
  </select>
 
  <select id="getUnivAddrByName" resultType="String">
  	select univAddr
	from university
	where univName=#{univName}
  </select>
 
  <insert id="insertUniv" parameterType="University">
  	<selectKey keyProperty="isExistUniv" resultType="int" order="BEFORE">
  		select count(*) 
		from university
		where univName=#{univName}
  	</selectKey>
  	
  	<if test="isExistUniv == 0">
  	 	INSERT INTO university (univName, univLink, univAddr, region)
	    VALUES (#{univName}, #{univLink}, #{univAddr}, #{region})
  	</if>
  </insert>

</mapper>